<div class="navigation--mobile">
    <div class="navigation__left"><div class="logobox" align="center"> <img src="~/img/logo3.png" class="logoimg" alt=""> </div></div>
    <div class="navigation__right">
        <div class="header__actions">
            <div class="ps-cart--mini">
                <a class="header__extra" href="#"><i class="icon-bag2"></i><span><i>0</i></span></a>
                <div class="ps-cart__content">
                    <div class="ps-cart__items">
                        <div class="ps-product--cart-mobile">
                            <div class="ps-product__thumbnail"><a href="#"><img src="~/img/products/clothing/7.jpg" alt=""></a></div>
                            <div class="ps-product__content">
                                <a class="ps-product__remove" href="#"><i class="icon-cross"></i></a><a href="#">MVMTH Classical Leather Watch In Black</a>
                                <p><strong>Sold by:</strong> YOUNG SHOP</p>
                                <small>1 x Rs. 59.99</small>
                            </div>
                        </div>
                        <div class="ps-product--cart-mobile">
                            <div class="ps-product__thumbnail"><a href="#"><img src="~/img/products/clothing/5.jpg" alt=""></a></div>
                            <div class="ps-product__content">
                                <a class="ps-product__remove" href="#"><i class="icon-cross"></i></a><a href="#">Sleeve Linen Blend Caro Pane Shirt</a>
                                <p><strong>Sold by:</strong> YOUNG SHOP</p>
                                <small>1 x Rs. 59.99</small>
                            </div>
                        </div>
                    </div>
                    <div class="ps-cart__footer">
                        <h3>Total :<strong>Rs. 59.99</strong></h3>
                        <h3>Total Discount :<strong>Rs. 59.99</strong></h3>
                        <h3>Total BV :<strong>Rs. 59.99</strong></h3>
                        <figure><a class="ps-btn" href="#">View Cart</a><a class="ps-btn" href="#">Checkout</a></figure>
                    </div>
                </div>
            </div>
            <div class="ps-block--user-header">
                <div class="ps-block__left"><i class="icon-user"></i></div>
                <div class="ps-block__right"><a href="#">Login</a><a href="#">Register</a></div>
            </div>
        </div>
    </div>
</div>
<div class="ps-search--mobile">
    <form class="ps-form--search-mobile" action="#" method="get">
        <div class="form-group--nest">
            <input class="form-control" type="text" placeholder="Search something...">
            <button><i class="icon-magnifier"></i></button>
        </div>
    </form>
</div>