@model PineLabsShoppingPortal.Models.HomeViewModel
<!DOCTYPE html>
<html lang="en">
<body>

    <div id="homepage-5">
        <div class="ps-home-banner">
            <div class="container">
                @*<div class="ps-section__left">
                    @{
                        Html.RenderPartial("~/Views/Shared/_menuContainer.cshtml", Model);
                    }
                </div>*@
                <div class="ps-section__center">
                    <div class="ps-carousel--dots owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="0" data-owl-nav="false" data-owl-dots="true" data-owl-item="1" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1" data-owl-item-lg="1" data-owl-duration="1000" data-owl-mousedrag="on"><a href="#"><img src="~/img/slider/home-5/slider_banner_1.jpg" alt=""></a><a href="#"><img src="~/img/slider/home-5/slider_banner_2.jpg" alt=""></a><a href="#"><img src="~/img/slider/home-5/slider_banner_3.jpg" alt=""></a></div>
                    <a href="#"><img src="~/img/slider/home-5/promotion-6.jpg" alt=""></a>
                </div>
                <div class="ps-section__right"><a href="#"><img src="~/img/slider/home-5/promotion_1.jpg" alt=""></a><a href="#"><img src="~/img/slider/home-5/promotion_2.jpg" alt=""></a><a class="wide" href="#"><img src="~/img/slider/home-5/promotion_3.jpg" alt=""></a><a href="#"><img src="~/img/slider/home-5/promotion-4.jpg" alt=""></a><a href="#"><img src="~/img/slider/home-5/promotion_5.jpg" alt=""></a></div>
            </div>
        </div>
  
        <div class="ps-deal-of-day">
            <div class="container">
              
            </div>
        </div>

        <div class="ps-product-box">
            <div class="container">
               
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="ps-product-box">
            <div class="container">
                
            </div>
        </div>
        <div class="ps-product-box">
            <div class="container">
                
            </div>
        </div>
    </div>



</body>
</html>
