<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="CompanyIdPineAPI" value="1" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--***SandboxUrl***-->
    <add key="AuthCodeUrl" value="https://sandbox.woohoo.in/oauth2/verify" />
    <add key="AuthTokenUrl" value="http://sandbox.woohoo.in/oauth2/token" />
    <add key="ApiUrl" value="http://localhost:55641/api/Home/" />
    <add key="IntervalSecond" value="20" />
    <add key="RecordBunchSize" value="10" />
    <add key="IntervalSecond" value="20" />
    <add key="Mode" value="Interval" />
    <add key="ScheduledTime" value="17:05" />
  </appSettings>
  <connectionStrings>
    <add name="liveconstr" connectionString="Data Source=103.71.99.8;Initial Catalog=PineLabs;Integrated Security=false;UID=usrPine;PWD=P2345566;Connection Timeout=15;Connection Lifetime=0;Min Pool Size=0;Max Pool Size=100;Pooling=true;" providerName="System.Data.SqlClient" />
    <add name="PineLabsEntities" connectionString="metadata=res://*/Models.pineLabsEntity.csdl|res://*/Models.pineLabsEntity.ssdl|res://*/Models.pineLabsEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=103.71.99.8;initial catalog=PineLabs;persist security info=True;user id=usrPine;password=P2345566;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PineLabsEntities1" connectionString="metadata=res://*/Models.PineConsolModel.csdl|res://*/Models.PineConsolModel.ssdl|res://*/Models.PineConsolModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=103.71.99.8;initial catalog=PineLabs;persist security info=True;user id=usrPine;password=P2345566;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PineLabsEntities2" connectionString="metadata=res://*/Models.PineServiceEntity.csdl|res://*/Models.PineServiceEntity.ssdl|res://*/Models.PineServiceEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=103.71.99.8;initial catalog=PineLabs;persist security info=True;user id=usrPine;password=P2345566;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PineLabsEntities3" connectionString="metadata=res://*/Models.PineService.csdl|res://*/Models.PineService.ssdl|res://*/Models.PineService.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=103.71.99.8;initial catalog=PineLabs;persist security info=True;user id=usrPine;password=P2345566;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>